* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1550px;
  margin: 0 auto;
}

.header-top {
  background: rgb(45, 50, 55);
  display: flex;
  font-size: 14px;
}
.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
}
.header-top-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-top-left div {
  display: flex;
  align-items: center;
  gap: 7px;
}
.header-top-left img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(80%) saturate(2%) hue-rotate(346deg) brightness(108%) contrast(100%);
}
.header-top-left a {
  color: #fff;
}
.header-top-right {
  gap: 15px;
  display: flex;
  align-items: center;
}
.header-top-right a {
  color: #fff;
  display: flex;
  align-items: center;
}
.header-top-right a img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(80%) saturate(2%) hue-rotate(346deg) brightness(108%) contrast(100%);
}

.header-nav {
  border-bottom: 2px solid #000;
}
.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.header-nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-nav-logo h1 {
  font-family: sans-serif;
  font-weight: 100;
}
.header-nav-logo img {
  width: 30px;
  filter: brightness(0) saturate(100%) invert(34%) sepia(66%) saturate(2471%) hue-rotate(356deg) brightness(92%) contrast(94%);
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
}
.header-nav-list a {
  font-size: 14px;
  color: rgb(36, 40, 46);
  font-weight: 700;
  padding: 0px 10px;
  border-left: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255);
}
.header-nav-list a:hover {
  border-left: 5px solid rgb(227, 75, 17);
  border-right: 5px solid rgb(227, 75, 17);
  color: rgb(227, 75, 17);
  transition: 0.5s;
}

.btn {
  width: 150px;
  padding: 10px;
  font-size: 18px;
}
.btn.orange {
  background-color: rgb(255, 102, 0);
  color: #fff;
  border: transparent;
}
.btn.orange:hover {
  background-color: #fff;
  border: 1px solid rgb(255, 102, 0);
  color: rgb(255, 102, 0);
}
.btn.white {
  background-color: #fff;
  color: rgb(255, 102, 0);
  border: 1px solid rgb(255, 102, 0);
}
.btn.white:hover {
  background-color: rgb(255, 102, 0);
  border: 1px solid rgb(255, 102, 0);
  color: #fff;
}

.slider-item {
  background: linear-gradient(rgba(0, 0, 0, 0.643), rgba(0, 0, 0, 0.59)) 0% 0%/100% 100% no-repeat, url(../bekbolat/images/slider/1.jpg) rgba(51, 51, 51, 0.13);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
}
.slider-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 700px;
  padding: 85px 0px;
  padding-bottom: 90px;
  padding-left: 10px;
}
.slider-item-wrapper h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  color: #fff;
}
.slider-item-wrapper h1 span {
  font-weight: 700;
  color: rgb(255, 102, 0);
}
.slider-item-wrapper p {
  color: #fff;
}

.about {
  margin-top: 20px;
}
.about-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.about-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: rgb(85, 82, 82);
  position: relative;
  padding: 20px;
  transition: 0.5s;
}
.about-card:hover .about-card-title {
  color: #e34b11;
  transition: 0.5s;
}
.about-card:hover .about-info {
  color: #e34b11;
  transition: 0.5s;
}
.about-card:hover .about-img {
  transition: 0.5s;
  border-radius: 50%;
  border: 2px solid #e34b11;
}
.about-card:hover .about-img img {
  filter: brightness(0) saturate(100%) invert(35%) sepia(22%) saturate(6980%) hue-rotate(358deg) brightness(93%) contrast(91%);
}
.about-card-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(85, 82, 82);
}
.about-card:hover::before {
  transform-origin: 0px 100%;
  border-bottom: 3px solid rgb(255, 102, 0);
  border-left: 3px solid rgb(255, 102, 0);
  transform: scale(1);
}
.about-card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s;
}
.about-card:hover::after {
  transform-origin: 100% 0%;
  border-top: 3px solid rgb(255, 102, 0);
  border-right: 3px solid rgb(255, 102, 0);
  transform: scale(1);
}
.about-card:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s;
}
.about-img {
  border-radius: 50%;
  border: 2px solid rgb(85, 82, 82);
}
.about-img:hover {
  border: 2px solid rgb(255, 102, 0);
}
.about-img img {
  height: 120px;
  width: 130px;
  filter: brightness(0) saturate(100%) invert(33%) sepia(1%) saturate(936%) hue-rotate(314deg) brightness(84%) contrast(80%);
  padding: 30px;
}
.about-img img:hover {
  filter: brightness(0) saturate(100%) invert(61%) sepia(94%) saturate(4656%) hue-rotate(359deg) brightness(101%) contrast(103%);
}
.about-info {
  text-align: center;
}
.about-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  color: rgb(85, 82, 82);
  padding: 40px 0px;
}

.latest {
  background: linear-gradient(rgba(173, 173, 173, 0.965), rgba(165, 165, 165, 0.965)) 0% 0%/100% 100% no-repeat, url(../images/icon/search.svg);
  margin-top: 50px;
}
.latest-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
.latest-card {
  background-color: #fff;
}
.latest-card:hover-btn {
  display: block;
}
.latest-img-box {
  position: relative;
  overflow: hidden;
}
.latest-img-box .latest-img-btn {
  position: absolute;
  left: 0;
  bottom: -300px;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3647058824);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.latest-img-box .latest-img-btn img {
  width: 100px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(765%) hue-rotate(308deg) brightness(117%) contrast(100%);
}
.latest-img-box:hover .latest-img-btn {
  bottom: 4px;
}
.latest-title {
  color: rgb(85, 82, 82);
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 21px;
}
.latest-info {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  gap: 5px;
}
.latest-info div {
  display: flex;
  align-items: center;
}
.latest-box {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.latest-box button {
  border-radius: 7px;
}

.info-count span {
  padding-left: 20px;
  font-size: 20px;
}
.info-count img:hover {
  filter: brightness(0) saturate(100%) invert(46%) sepia(45%) saturate(4035%) hue-rotate(0deg) brightness(102%) contrast(106%);
}

.info-rating {
  padding-right: 10px;
  display: flex;
  gap: 6px;
}
.info-rating img.orange {
  filter: brightness(0) saturate(100%) invert(46%) sepia(45%) saturate(4035%) hue-rotate(0deg) brightness(102%) contrast(106%);
}
.info-rating img.orange:hover {
  filter: brightness(0) saturate(100%) invert(26%) sepia(4%) saturate(0%) hue-rotate(137deg) brightness(95%) contrast(92%);
}
.info-rating img.gray {
  filter: brightness(0) saturate(100%) invert(26%) sepia(4%) saturate(0%) hue-rotate(137deg) brightness(95%) contrast(92%);
}
.info-rating img.gray:hover {
  filter: brightness(0) saturate(100%) invert(46%) sepia(45%) saturate(4035%) hue-rotate(0deg) brightness(102%) contrast(106%);
}

.about-info:hover {
  border: 1px solid rgb(255, 102, 0);
}

.about-card-title:hover {
  color: rgb(255, 102, 0);
}

.galerywrapper-btns {
  text-align: center;
  padding-left: 20px;
}

.galery-btns {
  text-align: center;
}
.galery-btns button {
  border-radius: 10px;
}
.galery-imgs {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.galery-img {
  position: relative;
  overflow: hidden;
}
.galery-img .galery-link {
  position: absolute;
  left: 0;
  bottom: -300px;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3647058824);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}
.galery-img .galery-link img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  padding: 20px;
  border: 0.8px solid #fff;
}
.galery-img .galery-link img:hover {
  background-color: rgba(227, 77, 17, 0.2392156863);
}
.galery-img:hover .galery-link {
  bottom: 0;
}

.video {
  margin-top: 50px;
  background-color: rgb(125, 125, 126);
  width: 100%;
  height: 700px;
}
.video-backgound {
  padding-top: 90px;
  text-align: center;
}
.video-wrapper video {
  width: 680px;
  height: 420px;
  position: relative;
  top: 270px;
  left: 430px;
}
.video img {
  width: 900px;
  height: 470px;
  position: relative;
  bottom: 250px;
}

.teachers {
  margin-top: 50px;
}
.teachers-cards {
  display: flex;
}
.teachers-item {
  overflow: hidden;
  position: relative;
}
.teachers-item:hover div {
  bottom: 0;
}
.teachers-info {
  background-color: hsla(27, 100%, 50%, 0.76);
  opacity: 1;
  width: 100%;
  height: 50%;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: 0.5s;
}
.teachers-info h1 {
  text-align: center;
  color: #fff;
}
.teachers-info p {
  text-align: center;
  color: #fff;
}
.teachers .teachers-link {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-evenly;
}
.teachers .teachers-link img {
  width: 48px;
  border: 2px solid #fff;
  padding: 10px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(175deg) brightness(104%) contrast(108%);
}
.teachers .teachers-link img:hover {
  background-color: rgba(227, 77, 17, 0.4862745098);
}
.teachers .teachers-link img:hover img {
  filter: brightness(0) saturate(100%) invert(35%) sepia(22%) saturate(6980%) hue-rotate(358deg) brightness(93%) contrast(91%);
}

.campus-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.campus-card-img {
  background-image: url("../bekbolat/images/client/1.png");
  width: 290px;
  height: 198px;
  border: 2px dashed #e34b11;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.campus-card-img .opacity-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(53, 50, 50, 0.274);
  opacity: 0;
}
.campus-card-img .opacity-box:hover {
  transition: 0.3s;
  background-color: rgba(14, 13, 13, 0.274);
  opacity: 0.8;
}
.campus-card-img .bottom-border {
  width: 100%;
  height: 50%;
  border-bottom: 3px solid #fff;
  position: absolute;
}
.campus-card-img .right-border {
  width: 50%;
  height: 100%;
  border-right: 3px solid #fff;
  position: absolute;
  top: 0;
}

.news-ower {
  display: flex;
  gap: 100px;
}
.news-instructor h1 {
  font-size: 35px;
  display: flex;
}
.news-man {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-man-head {
  background-color: rgb(255, 102, 0);
  width: 455px;
  padding: 10px;
  display: flex;
  gap: 20px;
  border-radius: 7px;
}
.news-man-head h2 {
  color: #fff;
  padding-top: 5px;
}
.news-man-head img {
  width: 34px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(21%) hue-rotate(15deg) brightness(106%) contrast(105%);
}
.news-man-main {
  width: 455px;
  display: flex;
  gap: 20px;
  padding: 7px;
}
.news-man-main-left img {
  border-radius: 50%;
  width: 76px;
}
.news-man-head2 {
  display: flex;
  background-color: rgb(125, 125, 126);
  width: 455px;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: #fff;
  border-radius: 10px;
}
.news-man-head2 img {
  width: 34px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(21%) hue-rotate(15deg) brightness(106%) contrast(105%);
}
.news-blo {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.news-blog {
  width: 350px;
}
.news-blog h1 {
  display: flex;
  justify-content: start;
}
.news-blog img {
  width: 380px;
  height: 300px;
}
.news-p1 {
  color: rgb(125, 125, 126);
  padding-top: 10px;
}
.news-p2 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(45, 50, 55);
}
.news-p3 {
  line-height: 20px;
  color: rgb(85, 82, 82);
  padding: 13px 0px;
}
.news button {
  border-radius: 7px;
}

.footer-top {
  margin-top: 30px;
  background: rgb(36, 40, 46);
  padding: 20px 0px;
}

.footer-title {
  color: #fff;
  border-bottom: 2px solid #e34b11;
  width: 220px;
}
.footer-title h2 {
  padding-bottom: 10px;
}

.footer-wrapper {
  display: flex;
  gap: 160px;
}
.footer-about {
  width: 405px;
  color: #fff;
}
.footer-about p {
  padding-top: 20px;
  font-size: 18px;
}
.footer-hours {
  width: 450px;
}
.footer-list {
  margin-top: 5px;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.footer-item span {
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.footer-form input {
  background-color: rgb(36, 40, 46);
  border: 1px solid #fff;
  width: 300px;
}
.footer-number {
  padding: 10px;
}
.footer-text {
  padding: 10px;
}
.footer-message {
  height: 202px;
  padding-bottom: 160px;
  padding-left: 10px;
}
.footer-bottom {
  padding: 20px 0px;
  text-align: center;
  background-color: #000;
}
.footer-bottom a {
  color: #fff;
}
.footer-bottom a span {
  color: #e34b11;
}/*# sourceMappingURL=style.css.map */